body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

header {
  background-color: #3B5998;
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  color: #fff;
  font-size: 38px;
}

header form {
  display: flex;
  align-items: center;
  color: #fff;
}

header form input {
  margin: 0 10px;
  font-size: 16px;
}

header form button {
  padding: 2px 4px;
  margin-left: 5px;
  background-color: #3B5998;
  border: 1px solid #eee;
  color: #fff;
}

header .tip {
  color: #ccc;
  font-size: 14px;
  margin-left: 20px;
}

main {
  height: 600px;
  background: linear-gradient(to bottom, #fff, #D3D8E8);
  display: flex;
}

main section {
  flex: 1;
  padding: 20px 140px;
}

.main-left h3 {
  font-size: 32px;
  padding: 0 50px 0 0;
  font-weight: bold;
}

.main-left li {
  margin: 20px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.main-left li span {
  margin-left: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}

footer {
  padding: 30px 140px;
  font-size: 14px;
  color: #ccc;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-right: 20px;
}

.main-right {
  padding: 20px 80px 140px;
}

.main-right h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.main-right span {
  font-size: 18px;
}

.main-right form {
  margin: 20px 0;
}

.main-right form label {
  font-weight: bold;
  color: gray;
  line-height: 30px;
}

.main-right form input[type="text"] {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

select {
  height: 30px;
  width: 60px;
}

.main-right form .msg {
  font-size: 12px;
  width: 300px;
  color: gray;
}

.main-right form button {
  width: 200px;
  height: 36px;
  border-radius: 5px;
  background-color: #649D50;
  color: #fff;
}

.main-right .tip {
  font-size: 14px;
  color: gray;
}

.active {
  color: gray;
}